
/* GENERAL */

*,
*::before,
*::after{
  box-sizing: inherit;
}

*{
  box-sizing: border-box;

}

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}
body{
  display: flex;
  background-color: #0A0B0F;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
}
a{
  text-decoration: none;
}

/* STICKY-FOOTER */

.site-main{
  flex-grow: 1;
}
