.site-logo{
    width: 190px;
}

.site-header{
    padding-top: 50px;
    padding-bottom: 140px;
    background-image: url(../images/web_bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 600px) {

    .site-logo{
        margin: 0 auto;
    }

    .site-header{
        background-image: url("../images/home_bg.png");

    }


    
}