.youtube {
    padding: 50px;
    background-image: url("../images/about_us_header_bg.png");
    background-position: center;
}

.youtube-title {
    font-size: 30px;
    text-align: center;
    color: red;
    text-transform: uppercase;
}
.youtube-title-text {
    font-size: 18px;
    color: rgb(225, 225, 225);
    text-align: center;
    margin-bottom: 50px;
    
}
.youtube-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youtube-text {
    font-size: 24px;
    width: 50%;
    margin-right: 40px;
    text-align: center;
    color: #fff;
    opacity: 0.6;
}

.book-button {
    padding: 20px 0px;
    background-color: #141416;
   
}
.btn-book {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    max-width: 300px
   
}


@media only screen and (max-width: 900px){
    .youtube-wrapper{
        flex-direction: column;
    }
    
    .youtube-text{
        font-size: 18px;
        margin: 0;
        min-width: 290px;
        margin-bottom: 20px;

    }
    .youtube-video{
        width: auto;
    }
    
}